{% load static %}
<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | La Cabaña</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
</head>

<body>
    <script src="{% static 'js/inicio.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <header>

        <div class="menu container">

            <img class="logo-1" src="{% static 'img/logos/logo-principal.svg' %}" alt="">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{% static 'img/iconos/menu.png' %}" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <div class="menu-1">
                    <ul>
                        <li> <a href="{% url 'home' %}">Inicio</a></li>
                        <li> <a href="{% url 'servicio_home' %}">Servicio</a></li>
                        <li> <a href="{% url 'productos_home' %}">Productos</a></li>
                    </ul>
                </div>

                <img class="logo-2" src="{% static 'img/logos/logo-cabana.svg' %}" alt="">
                <div class="menu-2">
                    <ul>
                        <li><a href="#">Horario</a></li>
                    </ul>
                    <div class="socials">
                        <a href="https://www.facebook.com/pizzerialacabania/" target="_blank" rel="noopener noreferrer">
                            <div class="social">
                                <img src="{% static 'img/social/facebook.svg' %}" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="social">
                                <img src="{% static 'img/social/twitter.svg' %}" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="social">
                                <img src="{% static 'img/social/instagram.svg' %}" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="header-content container">
            <div class="swiper mySwiper-1">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Pizza</h1>
                                <p>
                                    ¡Deléitate con nuestra irresistible Pizza de Carne!
                                    Nuestra Pizza de Carne está hecha para satisfacer a los amantes de los sabores
                                    intensos y jugosos. Perfecta para compartir o disfrutar solo. ¡No te
                                    resistas a la tentación, pruébala ahora!
                                </p>
                                <div class="botones">
                                    <a href="#" class="btn-1">Comprar</a>
                                    <a href="{% url 'menu:home' %}" rel="noopener noreferrer"  class="btn-1">Menu</a>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="{% static 'img/hero/pizza.png' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Pasta</h1>
                                <p>
                                    ¡Disfruta nuestra deliciosa Pasta con Albóndigas!
                                    Déjate conquistar por el clásico sabor de nuestra Pasta con Albóndigas. Una porción
                                    generosa de pasta al dente se mezcla con una rica salsa de tomate hecha en casa,
                                    condimentada con hierbas italianas y un toque de ajo. Acompañada de albóndigas
                                    tiernas y jugosas, preparadas con ingredientes frescos y sazonadas a la perfección.
                                    ¡Perfecto para una comida inolvidable!
                                </p>
                                <div class="botones">
                                    <a href="#" class="btn-1">Comprar</a>
                                    <a href="{% url 'menu:home' %}" class="btn-1">Menu</a>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="{% static 'img/hero/pasta.png' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1>Ensaladas</h1>
                                <p>
                                    ¡Refresca tu día con nuestra ensalada fresca y nutritiva!
                                    Nuestra ensalada es el equilibrio perfecto entre sabor y bienestar. Incluye 
                                    aguacate cremoso, crutones dorados y un toque de queso fresco o rallado para darle un giro
                                    irresistible. Ideal como acompañamiento o plato principal, esta ensalada es una
                                    explosión de frescura en cada bocado. 
                                </p>
                                <div class="botones">
                                    <a href="#" class="btn-1">Comprar</a>
                                    <a href="{% url 'menu:home' %}" class="btn-1">Menu</a>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="{% static 'img/hero/ensalada.png' %}" alt="">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-pagination"></div>
            </div>

        </div>

    </header>

    <main class="products">
        <div class="tabs container">

            <input type="radio" name="tabs" id="tab1" checked="checked" class="tabInput" value="1">
            <label for="tab1">Pizza</label>
            <div class="tab">
                <div class="swiper mySwiper-2" id="swiper1">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="{% static 'img/productos/pizza-1.png' %}" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="{% static 'img/productos/pizza-2.png' %}" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="{% static 'img/productos/pizza-3.png' %}" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tab2" checked="checked" class="tabInput" value="2">
            <label for="tab2">Pastas</label>
            <div class="tab">
                <div class="swiper mySwiper-2" id="swiper2">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="{% static 'img/productos/pasta-1.png' %}" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="{% static 'img/productos/pasta-2.png' %}" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="{% static 'img/productos/pasta-3.png' %}" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

            <input type="radio" name="tabs" id="tab3" checked="checked" class="tabInput" value="3">
            <label for="tab3">Ensaladas</label>
            <div class="tab">
                <div class="swiper mySwiper-2" id="swiper3">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="{% static 'img/productos/ensalada-1.png' %}" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="{% static 'img/productos/ensalada-2.png' %}" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product">
                                <div class="product-img">
                                    <h4>Nuevo</h4>
                                    <img src="{% static 'img/productos/ensalada-3.png' %}" alt="">
                                </div>
                                <div class="product-txt">
                                    <h4>Producto</h4>
                                    <p>Calidad Premium</p>
                                    <span class="price">$80.00</span>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

        </div>
    </main>

    <section class="info container">

        <div class="info-img">
            <img src="{% static 'img/contenido/info.png' %}" alt="">
        </div>

        <div class="info-txt">
            <h2>Informacion</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. At corrupti, dolor praesentium nostrum rerum
                perspiciatis? Quaerat ullam cum rem similique animi? Enim mollitia placeat, dolores magnam unde eligendi
                doloremque id.
            </p>
            <a href="#" class="btn-2">Mas Informacion</a>
        </div>

    </section>

    <section class="horario">
        <div class="horario-info container">
            <h2>Horario</h2>
            <div class="horario-txt">
                <div class="txt">
                    <h4>Direccion</h4>
                    <p>
                        C. Andalucía 3526, Riveras del Alamo,
                    </p>
                    <p>
                        22465 Tijuana, B.C.
                    </p>
                </div>
                <div class="txt">
                    <h4>Horario</h4>
                    <p>
                        Lunes a Sabado : 12pm - 8pm
                    </p>
                    <p>
                        Domingo : 12pm - 7pm
                    </p>
                </div>
                <div class="txt">
                    <h4>Telefono</h4>
                    <p>
                        +52(664)591-9524
                    </p>

                </div>
                <div class="txt">
                    <h4>Redes Sociales</h4>
                    <div class="socials">
                        <a href="https://www.facebook.com/pizzerialacabania/" target="_blank" rel="noopener noreferrer">
                            <div class="social">
                                <img src="{% static 'img/social/facebook.svg' %}" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="social">
                                <img src="{% static 'img/social/twitter.svg' %}" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="social">
                                <img src="{% static 'img/social/instagram.svg' %}" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3364.453292232432!2d-116.95054811795235!3d32.51403840615444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9478767b4f27b%3A0x4db32a19c9424d15!2sC.%20Andaluc%C3%ADa%203526%2C%20Riveras%20del%20Alamo%2C%2022465%20Tijuana%2C%20B.C.!5e0!3m2!1ses-419!2smx!4v1733893973351!5m2!1ses-419!2smx"
            width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <footer class="footer container">
        <img class="logo-2" src="{% static 'img/logos/logo-cabana.svg' %}" alt="">
        <div class="links">
            <h4>lorem</h4>
            <ul>
                <li><a href="#">© 2023-2024</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
            </ul>
        </div>
        <div class="links">
            <h4>lorem</h4>
            <ul>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
            </ul>
        </div>
        <div class="links">
            <h4>lorem</h4>
            <div class="socials">
                <a href="https://www.facebook.com/pizzerialacabania/" target="_blank" rel="noopener noreferrer">
                    <div class="social">
                        <img src="{% static 'img/social/facebook.svg' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social">
                        <img src="{% static 'img/social/twitter.svg' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social">
                        <img src="{% static 'img/social/instagram.svg' %}" alt="">
                    </div>
                </a>
            </div>
        </div>
    </footer>

</body>

</html>