{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}?v=header-general">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

{% include 'partials/site_header.html' %}
    <section class="wrapped">
        <div class="column-3 columns">
            <div class="menu-restaurante">
                <h3>Pizzas</h3>
                <hr>
                <h4>PIZZA LA CABAÑA</h4>
                <p>Salsa de tomate, queso mozzarella extra,
                    pepperoni, jamón, tocino y chorizo.</p>

                    <p class="precio-menu">
                        Normal:
                        <span>155$</span>
                        Personal:
                        <span>95$</span>
                    </p>
                
                <h4>PIZZA MEXICANA </h4>
                <p>Salsa de frijol, queso mozzarella, chorizo, tocino,
                    cebolla y chile jalapeño.</p>

                    <p class="precio-menu">
                        Normal:
                        <span>140$</span>
                        Personal:
                        <span>95$</span>
                    </p>
                
                <h4>PIZZA DE PEPPERONI</h4>
                <p>Salsa de tomate, queso mozzarella y pepperoni.</p>

                <p class="precio-menu">
                    Normal:
                    <span>105$</span>
                    Personal:
                    <span>85$</span>
                </p>
                
                <h4>PIZZA CAMPIRANA </h4>
                <p>Salsa de tomate, queso mozzarella, pepperoni
                    salchicha italiana, morrón y cebolla.</p>

                    <p class="precio-menu">
                        Normal:
                        <span>135$</span>
                        Personal:
                        <span>95$</span>
                    </p>

                <h4>PIZZA VEGETARIANA</h4>
                <p>Salsa de tomate, queso mozzarella, champiñón,
                    morrón, cebolla y aceituna negra.</p>

                    <p class="precio-menu">
                        Normal:
                        <span>135$</span>
                        Personal:
                        <span>95$</span>
                    </p>

                <h4>PIZZA MARGARITA</h4>
                <p>Salsa de tomate, queso mozzarella, tomate,
                    albahaca y aceite de oliva.</p>

                    <p class="precio-menu">
                        Normal:
                        <span>130$</span>
                        Personal:
                        <span>95$</span>
                    </p>

                <h4>PIZZA HAWAIANA</h4>
                <p>Salsa de tomate, queso mozzarella, piña y jamón.</p>

                <p class="precio-menu">
                    Normal:
                    <span>130$</span>
                    Personal:
                    <span>95$</span>
                </p>
                
                <h4>PIZZA RÚSTICA</h4>
                <p>Salsa de tomate, queso mozzarella, pepperoni
                    jamon, aceituna negra, cebolla y champiñón.</p>

                    <p class="precio-menu">
                        Normal:
                        <span>140$</span>
                        Personal:
                        <span>95$</span>
                    </p>

                <h4>PIZZA PEPPERONI CON ALBAHACA</h4>
                <p>Salsa de tomate, queso mozzarella, pepperoni y
                    albahaca.</p>

                    <p class="precio-menu">
                        Normal:
                        <span>110$</span>
                        Personal:
                        <span>85$</span>
                    </p>

                <h4>PIZZA TRES CARNES</h4>
                <p>Salsa de tomate, queso mozzarella, pepperoni,
                    tocino y salchicha italiana.</p>

                    <p class="precio-menu">
                        Normal:
                        <span>135$</span>
                        Personal:
                        <span>95$</span>
                    </p>

                <h4>PIZZA SALCHICHA ITALIANA</h4>
                <p>Salsa de tomate, queso mozzarella, salchicha
                    italiana.</p>

                    <p class="precio-menu">
                        Normal:
                        <span>110$</span>
                        Personal:
                        <span>85$</span>
                    </p>

                <h4>PIZZA CAMPESTRE</h4>
                <p>Crema de la casa, pollo, queso mozzarella,
                    cebolla morada, albahaca.</p>

                    <p class="precio-menu">
                        Normal:
                        <span>165$</span>
                    </p>

                <h4>PIZZA MARINA</h4>
                <p>Crema de la casa, camarón picosito, queso
                    mozzarella, cebolla morada, cilantro.</p>

                    <p class="precio-menu">
                        Normal:
                        <span>180$</span>
                    </p>

                <h4>PIZZA VAQUERA</h4>
                <p>Salsa BBQ de lo casa, pollo, queso mozzarella,
                    cebolla morada, cilantro.</p>

                <p class="precio-menu">
                    Normal:
                    <span>170$</span>
                </p>
                
            </div>

            <div class="menu-restaurante">
                <h3>Pastas</h3>
                <hr>
                <h4>Primeros platos</h4>
                <p>Lorem ipsum dolor.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem ipsum dolor sit.</p>
                <br>
                <h4>Segundos platos</h4>
                <p>Lorem ipsum dolor.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem ipsum dolor sit.</p>
                <br>
                <p class="precio-menu">
                    Precio:
                    <span>17$</span>
                </p>
                
            </div>

            <div class="menu-restaurante">
                <h3>Ensaladas</h3>
                <hr>
                <h4>Primeros platos</h4>
                <p>Lorem ipsum dolor.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem ipsum dolor sit.</p>
                <br>
                <h4>Segundos platos</h4>
                <p>Lorem ipsum dolor.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem ipsum dolor sit.</p>
                <br>
                <p class="precio-menu">
                    Precio:
                    <span>17$</span>
                </p>
                
            </div>

            <div class="menu-restaurante">
                <h3>Extras</h3>
                <hr>
                <h4>Primeros platos</h4>
                <p>Lorem ipsum dolor.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem ipsum dolor sit.</p>
                <br>
                <h4>Segundos platos</h4>
                <p>Lorem ipsum dolor.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem ipsum dolor sit.</p>
                <br>
                <p class="precio-menu">
                    Precio:
                    <span>17$</span>
                </p>
                
            </div>
        </div>
    </section>

</body>
</html>
