{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'css/servicio.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}?v=header-general">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}?v=footer-logo-jpg">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

{% include 'partials/site_header.html' %}
    {% include 'partials/site_footer.html' %}
</body>
</html>
